<div class="bg-main-app">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-4 bg-white border rounded shadow" style="width: 100%; max-width: 500px;">
      <h3 class="text-center mb-4">Registro Departamento</h3>

      <!-- Campo: Nombre Completo -->
      <div class="form-group mb-3">
        <label for="nombre_completo" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="nombre_completo" formControlName="nombre_completo" placeholder="Usuario.." required />
      </div>

      <!-- Campo: Contraseña -->
      <div class="form-group mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="contrasena" formControlName="contrasena" placeholder="Ingresa tu contraseña.." required />
      </div>

      <!-- Campo: Confirmar Contraseña -->
      <div class="form-group mb-3">
        <label for="confirmarContrasena" class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirmarContrasena" formControlName="confirmarContrasena" placeholder="Confirma tu contraseña.." required />
      </div>

      <!-- Campo: dropdown-->
      <div class="form-group mb-4">
        <label for="tipo_usuario" class="form-label">Departamento</label>
        <select id="tipo_usuario" class="form-select" formControlName="tipo_usuario" required>
          <option value="" disabled selected>Selecciona un departamento</option>
          <option value="administracion_finanzas">Administración y Finanzas</option>
          <option value="centro_informacion">Centro de Información</option>
          <option value="centro_computo">Centro de Cómputo</option>
          <option value="recursos_materiales">Recursos Materiales</option>
          <option value="departamento_vinculacion">Departamento de Vinculación</option>
        </select>

      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success w-100 me-2" [disabled]="registerForm.invalid">Registrarse</button>
        <button type="button" class="btn btn-secondary w-100" (click)="goToLogin()">Login</button>
      </div>
    </form>
  </div>
</div>
