<div class="container mt-5 home-container">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h2 class="text-center">Bienvenido</h2>
    </div>
    <div class="card-body">
      <div class="container mt-5">
        <div class="card-body">
          <p class="text-center">
            ¡Bienvenido al sistema de verificación de no adeudo!
          </p>
          <p>
            Nos alegra tenerte aquí. Este sitio ha sido creado para simplificar y agilizar el proceso de
            revisión de tu estado de adeudo en cada uno de los departamentos de tu universidad. Ahora puedes comprobar
            tu estado sin necesidad de acudir a las oficinas administrativas.
          </p>
          <p>
            Una vez que crees tu cuenta, nos encargaremos de notificar automáticamente a los departamentos correspondientes.
            Así que no tendrás que preocuparte por dar ningún paso adicional: nosotros hacemos el trabajo por ti.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>
