<div class="container mt-5 home-container">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h2 class="text-center">Información</h2>
    </div>
    <div class="card-body">
      <div class="container mt-5">
        <div class="card-body">

          <h5 class="text-center mt-4">Manual de Uso</h5>
          <p>
            Este formato cuenta con dos partes fundamentales:
          </p>
          <ol>
            <li>
              <strong>Datos del Alumno:</strong> Aquí se muestran los datos del alumno registrado. Estos datos son
              necesarios para procesar la solicitud de no adeudo.
            </li>
            <li>
              <strong>Tabla del Formato:</strong> Una tabla dividida en dos columnas que muestra:
              <ul>
                <li><strong>Columna 1:</strong> Los distintos departamentos.</li>
                <li><strong>Columna 2:</strong> El estado correspondiente a cada departamento.</li>
              </ul>
              <p>
                El estado de adeudo se determina por el texto y el color:
              </p>
              <ul>
                <li><span class="text-warning">Amarillo:</span> <em> Pendiente</em>. Significa que el departamento aún no ha
                  procesado tu estado de adeudo.</li>
                <li><span class="text-danger">Rojo:</span> <em> Con Adeudo</em>. Indica que actualmente tienes un adeudo en ese departamento.</li>
                <li><span class="text-success">Verde:</span> <em> Sin Adeudo</em>. Significa que no tienes pendientes en ese departamento.</li>
              </ul>
              <p>
                Tanto el estado <strong>Con Adeudo</strong> como <strong>Sin Adeudo</strong> indican que tu estado ya ha sido procesado.
              </p>
            </li>
            <li>
              <strong>Botón de Comentarios:</strong> Este botón te permite visualizar los comentarios de cada departamento.
              Esto complementa el estado mostrado. Si ves el valor <em>"Sin Comentario"</em>, significa que el estado no ha sid
              o procesado o no fue necesario agregar un comentario.
            </li>
            <li>
              <strong>En caso de un inconveniente:</strong> Si la información proporcionada por esta plataforma no es suficiente
               o presenta un problema técnico, comuníquese de inmediato con las oficinas o departamentos correspondientes.
            </li>

          </ol>
        </div>


      </div>
    </div>
  </div>
</div>

