<div class="container mt-5 home-container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h2>Formato No-Adeudo</h2>
        </div>
        <div class="card-body">
          <!-- este de aqui es el contenedor a modificar -->
                 <!-- Inicio del contenedor modificado -->
      <div class="row border rounded p-2 mb-4 shadow-sm align-items-center m-0">
        <div class="col-lg-8">
          <div class="row mb-2">
            <div class="col-12">
              <p class="fw-bold mb-1">
                <span class="text-primary">Nombre: </span>
                <span class="underline-text">{{ alumno?.nombre_completo }}</span>
              </p>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
              <p class="fw-bold mb-1">
                <span class="text-primary">No de Control: </span>
                <span class="underline-text">{{ alumno?.no_control }}</span>
              </p>
            </div>
            <div class="col-md-6">
              <p class="fw-bold mb-1">
                <span class="text-primary">Teléfono: </span>
                <span class="underline-text">{{ alumno?.telefono }}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="fw-bold mb-1">
                <span class="text-primary">Correo Electrónico: </span>
                <span class="underline-text">{{ alumno?.correo }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-lg-center justify-content-center">
          <!-- Botón de comentarios -->
          <button
            type="button"
            class="btn btn-primary btn-lg shadow-sm"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Comentarios
          </button>
        </div>
      </div>
      <!-- Fin del contenedor modificado -->
          <!-- aqio termina el contenedor a modificar -->


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="w-50">ÁREA O DEPARTAMENTO</th>
                        <th scope="col" class="w-50">ESTADO DE ADEUDO</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="p-4">ADMINISTRACIÓN Y FINANZAS</td>
                    <td class="p-4 d-flex justify-content-center align-items-center text-center">
                      <div
                        [ngClass]="{
                          'btn': true,
                          'btn-toggle': true,
                          'btn-warning': alumno?.estatus_administracion_y_finanzas === 'Pendiente',
                          'btn-danger': alumno?.estatus_administracion_y_finanzas === 'Con Adeudo',
                          'btn-success': alumno?.estatus_administracion_y_finanzas === 'Sin Adeudo',
                          'btn-secondary': !alumno?.estatus_administracion_y_finanzas
                        }"
                        [style.pointer-events]="'none'"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ alumno?.estatus_administracion_y_finanzas || 'Sin información' }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-4">CENTRO DE INFORMACIÓN</td>
                    <td class="p-4 d-flex justify-content-center align-items-center text-center">
                      <div
                        [ngClass]="{
                          'btn': true,
                          'btn-toggle': true,
                          'btn-warning': alumno?.estatus_centro_de_informacion === 'Pendiente',
                          'btn-danger': alumno?.estatus_centro_de_informacion === 'Con Adeudo',
                          'btn-success': alumno?.estatus_centro_de_informacion === 'Sin Adeudo',
                          'btn-secondary': !alumno?.estatus_centro_de_informacion
                        }"
                        [style.pointer-events]="'none'"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ alumno?.estatus_centro_de_informacion || 'Sin información' }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-4">CENTRO DE COMPUTO</td>
                    <td class="p-4 d-flex justify-content-center align-items-center text-center">
                      <div
                        [ngClass]="{
                          'btn': true,
                          'btn-toggle': true,
                          'btn-warning': alumno?.estatus_centro_de_computo === 'Pendiente',
                          'btn-danger': alumno?.estatus_centro_de_computo === 'Con Adeudo',
                          'btn-success': alumno?.estatus_centro_de_computo === 'Sin Adeudo',
                          'btn-secondary': !alumno?.estatus_centro_de_computo
                        }"
                        [style.pointer-events]="'none'"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ alumno?.estatus_centro_de_computo || 'Sin información' }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-4">RECURSOS MATERIALES</td>
                    <td class="p-4 d-flex justify-content-center align-items-center text-center">
                      <div
                        [ngClass]="{
                          'btn': true,
                          'btn-toggle': true,
                          'btn-warning': alumno?.estatus_recursos_materiales === 'Pendiente',
                          'btn-danger': alumno?.estatus_recursos_materiales === 'Con Adeudo',
                          'btn-success': alumno?.estatus_recursos_materiales === 'Sin Adeudo',
                          'btn-secondary': !alumno?.estatus_recursos_materiales
                        }"
                        [style.pointer-events]="'none'"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ alumno?.estatus_recursos_materiales || 'Sin información' }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="p-4">DEPARTAMENTO DE VINCULACIÓN</td>
                    <td class="p-4 d-flex justify-content-center align-items-center text-center">
                      <div
                        [ngClass]="{
                          'btn': true,
                          'btn-toggle': true,
                          'btn-warning': alumno?.estatus_departamento_de_vinculacion === 'Pendiente',
                          'btn-danger': alumno?.estatus_departamento_de_vinculacion === 'Con Adeudo',
                          'btn-success': alumno?.estatus_departamento_de_vinculacion === 'Sin Adeudo',
                          'btn-secondary': !alumno?.estatus_departamento_de_vinculacion
                        }"
                        [style.pointer-events]="'none'"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ alumno?.estatus_departamento_de_vinculacion || 'Sin información' }}
                      </div>
                    </td>
                  </tr>
                </tbody>


            </table>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Aumentar el tamaño del modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Comentarios De Departamentos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="max-height: 70vh; overflow-y: auto;"> <!-- Scrollable modal body -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="w-50 text-center">ÁREA O DEPARTAMENTO</th>
              <th scope="col" class="w-50 text-center">COMENTARIO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-3 text-wrap">ADMINISTRACIÓN Y FINANZAS</td>
              <td class="p-3 text-wrap">
                <div>
                  {{ alumno?.comentario_administracion_y_finanzas || 'Sin Comentario' }}
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-3 text-wrap">CENTRO DE INFORMACIÓN</td>
              <td class="p-3 text-wrap">
                <div>
                  {{ alumno?.comentario_centro_de_informacion || 'Sin Comentario' }}
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-3 text-wrap">CENTRO DE COMPUTO</td>
              <td class="p-3 text-wrap">
                <div>
                  {{ alumno?.comentario_centro_de_computo || 'Sin Comentario' }}
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-3 text-wrap">RECURSOS MATERIALES</td>
              <td class="p-3 text-wrap">
                <div>
                  {{ alumno?.comentario_recursos_materiales || 'Sin Comentario' }}
                </div>
              </td>
            </tr>
            <tr>
              <td class="p-3 text-wrap">DEPARTAMENTO DE VINCULACIÓN</td>
              <td class="p-3 text-wrap">
                <div>
                  {{ alumno?.comentario_departamento_de_vinculacion || 'Sin Comentario' }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container mt-5 home-container">
    <div class="card">
        <div class="card-header bg-primary text-white text-center">
            <h2>Formato No-Adeudo</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">No. DE CONTROL</th>
                        <th scope="col">TEL</th>
                        <th scope="col">CORREO ELECTRÓNICO</th>
                        <th scope="col">FOTOGRAFIA</th>
                        <th scope="col">Verificar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2">Dato</td>
                        <td class="p-2">Dato</td>
                        <td class="p-2">Dato</td>
                        <td class="p-2">Dato</td>
                        <td class="p-2">Dato</td>
                        <td class="p-2">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verificationModal">
                                Verificar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<!-- Modal  -->
<!-- <div class="modal fade" id="verificationModal" tabindex="-1" aria-labelledby="verificationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="verificationModalLabel">Verificar No-Adeudo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿El alumno tiene adeudos?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">No tiene adeudo</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tiene adeudo</button>
            </div>
        </div>
    </div>
</div> -->
